<h1 class="jumbotron">$client.getName()</h1>

<h3>Stylist: $stylist.getName()</h3>

<div class="center">
  <a class="btn btn-primary" href="/list-stylists">View All Clients</a>
  <a class="btn btn-primary" href="/list-clients">View All Stylists</a>
  <a class="btn btn-primary" href="/add-stylist">Add a Stylist</a>
  <a class="btn btn-primary" href="/">Go to home page</a>
</div>
