<div class="row">
  <h1 class="jumbotron col-xs-12">Hair Salon</h1>
</div>
<br>
<div>
  <div class="row">
  <h2><a class="jumbotron hover col-xs-12" href="/list-stylists">View All Stylists</a></h2>
  </div>
  <div class="row">
    <h2><a class="jumbotron hover col-xs-12" href="/add-stylist">Add A Stylist</a></h2>
  </div>
  <div class="row">
    <h2><a class="jumbotron hover col-xs-12" href="/list-clients">View All Clients</a></h2>
  </div>
</div>
